html, body {
  height: 100%;
}

body {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/cursor.png") 32 32, auto;
  background: #eeeeee;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.2);
  flex: 1 0 auto;
  position: relative;
  width: 320px;
  max-width: 320px;
  margin: 0 auto;
  height: 400px;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
}

.item-content {
  height: 100%;
  border: 0px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: #999999;
  line-height: 90px;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 400;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}